In [1]:
friends = [ 'Regi', 'Timo', 'Renuga' ]
print(friends)

['Regi', 'Timo', 'Renuga']

In [2]:
print([ 1, [5, 6], 7])

[1, [5, 6], 7]

In [3]:
#traversing
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [4]:
friends = ['Regi', 'Timo', 'Renuga']
for friend in friends :
    print('Happy to meet:',  friend)
print('Done!')

Happy to meet: Regi
Happy to meet: Timo
Happy to meet: Renuga
Done!

In [5]:
friends = ['Regi', 'Timo', 'Renuga']
print(friends[1])

Timo

In [6]:
#list are muttable
lotto = [2,20,3,30,40,50]
print (lotto)
lotto[2]=70
print (lotto)

[2, 20, 3, 30, 40, 50]
[2, 20, 70, 30, 40, 50]

In [7]:
x = [ 1, 2, 'daph', 99]
print(len(x))

4

In [8]:
print(range(len(x)))

range(0, 4)

In [9]:
#traversing a list
for i in range(len(friends)) :
    friend = friends[i]
    print('Happy New Year:',  friend)

Happy New Year: Regi
Happy New Year: Timo
Happy New Year: Renuga

In [10]:
#concatenating
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [11]:
#slicing
t = [9, 41, 12, 3, 74, 15]
print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:])

[41, 12]
[9, 41, 12, 3]
[3, 74, 15]
[9, 41, 12, 3, 74, 15]

In [12]:
#list methods
x = list()
type(x)

list

In [13]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [15]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)

['book', 99]
['book', 99, 'cookie']

In [16]:
nos = [1, 5, 7, 9, 4, 5, 12]
7 in nos

True

In [17]:
14 in nos

False

In [18]:
friends = [ 'Regi', 'Timo' ,'Renuga']
friends.sort()
print(friends)

['Regi', 'Renuga', 'Timo']

In [19]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [20]:
#finding average
numlist = list()
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 3
Enter a number: 6
Enter a number: 9
Enter a number: 12
Enter a number: 15
Enter a number: done
Average: 9.0

In [21]:
#split breaks string into parts and produces a list of strings
abc = 'With three friends'
stuff = abc.split()
print(stuff)

['With', 'three', 'friends']

In [24]:
#double split
line='From srenitablessina@gmail.com Tue Sep  1 09:14:16 2020'
words = line.split()
email = words[1]
pieces = email.split('@')
print(pieces)

['srenitablessina', 'gmail.com']

In [26]:
#extend
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [27]:
#deleting
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)
print(x)

['a', 'c']
b

In [28]:
t = ['a', 'b', 'c']
del t[1]
print(t)

['a', 'c']

In [29]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

In [30]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

['a', 'f']

In [32]:
#strings to lists
s = 'string'
t = list(s)
print(t)

['s', 't', 'r', 'i', 'n', 'g']

In [34]:
#delimiter
s = 'string-to-list'
delimiter = '-'
s.split(delimiter)

['string', 'to', 'list']

In [35]:
#joint is the opposite of split
t = ['Tommorow', 'will', 'better', 'than', 'Today']
delimiter = ' '
delimiter.join(t)

'Tommorow will better than Today'

In [36]:
#object and value
a = 'banana'
b = 'banana'
a is b

True

In [38]:
#list contains seperate memory
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [39]:
#aliasing
a = [1, 2, 3]
b = a
b is a

True

In [40]:
#list as argument
def Del(t):
    del t[2]
n = [1, 3, 2, 6, 4, 5]
print(n)
Del(n)
print(n)

[1, 3, 2, 6, 4, 5]
[1, 3, 6, 4, 5]